.banner__titulo {
    Color: #fdfdfd;
    font-family: Pacifico, cursive;
    left: 50%;
    position: absolute;
    text-shadow: 0 4px 4px rgba(0, 0, 0.75);
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    /*cada 50% é referente ao eixo x e y */
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__titulo {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 5.0625rem;
    }
}


/* quando estiver em uma tela de celular ou tablet (@media screen) a letra vai diminuir/ajustar conforme o tamanho da tela */